 body {
	margin: 0;
	padding: 0;
	background: #efeee7;
	font-size: 18px;
	line-height: 150%;
	font-family: "Georgia", "Times New Roman", Times, serif; 
	color: #333333;
}

 h1{
 	color: #4aaaa5;
 }

h2{
	color: #4aaaa5;
}


 ul {
    list-style-type: none;
margin:0;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    border-width: 5px;
    border-color: #cccccc;
    
}

li {
    float: left;
   
}

li a.active {
	margin-left: 110px;
	width: 50%;
	font-weight: bold;
    background-color: #4aaaa5;
}




li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar {
    padding-right: 100px;
}



.all{
background: #eee;
width: 100%;
border-color: blue;
border-width: 10px;

}

.main , .connect{
float: left;     
margin-left: 30px;
}

.main{
overflow: auto;

width: 50%;
background: white; 

}

.connect{
    background: white;

width: 20%;
}




footer {
	background-color: #666666;
	
}

.row{
    position: relative;
    width: 50%;
     float: left;
margin-left: 25px;
     }

.right-row{
    position: relative;
 
     float: left;
margin-left: 70spx;


}

.desc {
text-align: center;
bottom: 27px;
    position: absolute;
    left: 0px;
    background-color: #4aaaa5;
    width: 200px;
}